@model FPTBookWeb.Models.Order

<div class="notify">
    <img src="/images/green_checkmark.png" alt="">
    <h2>Payment Completed!</h2>
    <p>Congratulations! Thank you, your payment has been successful!</p>
</div>
<h3 class="text-center mt-5">Order ID: @Model.OrderId</h3>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Book</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            var itemTotal = item.Book.BookPrice * item.Quantity;
            <tr>
                <td>
                    <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.OrderDetailId">
                        <img src="@item.Book.BookImage1" style="height: 100px;" />
                    </a>
                </td>
                <td>
                    <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.OrderDetailId">
                        @item.Book.BookTitle
                    </a>
                </td>
                <td>@itemTotal.ToString("c")</td>
                <td>
                    <span class="badge badge-primary">@item.Quantity</span>
                </td>
            </tr>
        }
    </tbody>
</table>