@model FPTBookWeb.Models.Author

@{
    ViewData["Title"] = "Delete Author";
}

<h3 class="mt-5">Are you sure you want to delete information of author <strong class="text-uppercase fst-italic">@Html.DisplayFor(model => model.AuthorName)</strong>?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="pt-2 mt-3 col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="pt-2 col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="pt-2 mt-3 col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorEmail)
        </dt>
        <dd class="pt-2 mt-3 col-sm-10">
            @Html.DisplayFor(model => model.AuthorEmail)
        </dd>
        <dt class="pt-2 mt-3 col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorPhoto)
        </dt>
        <dd class="pt-2 mt-3 col-sm-10">
            @Html.DisplayFor(model => model.AuthorPhoto)
        </dd>
        <dt class = "pt-2 mt-3 col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "pt-2 mt-3 col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dd class="col-4 mt-4">
            <form class="d-flex flex-row" asp-action="Delete">
                <a asp-action="Index" class="btn btn-back text-center"><i class="fa-solid fa-arrow-left"></i> Back</a>
                <input type="hidden" asp-for="AuthorId" />
                <input type="submit" value="Delete" class="btn btn-outline col-2 btn-delete btn-sm" />
            </form>
        </dd>
    </dl>
</div>
